body {
    background-color: black;
    color: white;
    margin: 0px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 20px;
}

.textTitle {
    width: 100%;
    height: 90px;
    display: grid;
    align-items: center;
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
.headerIguana {
    width: 100%;
}

.infoIguana {
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.textIguana {
    width: 40%;
    display: grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
}

.imgIguana {
    width: 400px;
    margin-left: 106px;
}

.galeriaIguana {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.iguanas {
    width: 300px;
    margin: 10px;
}

.piePagina {
    background-color: rgb(33,29,22);
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 80px;
    margin: 0px;
}

.iconosText {
    width: 100%;
    height: 200px;
    background-color: rgb(33,29,22);
    display: grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.iconos {
    width: 60%;
    text-align: center;
}

.iconOjo {
    float: left;
}
.iconPaz {
    display:inline-block
}
.iconColor {
    float: right;
}